<article class="blog-post">
    <h4 class="blog-post-title"><a class="text-dark" href="/post/{{id}}">{{title}}</a></h4>
    <p class="blog-post-meta">{{user.username}} on {{format_date created_at}}</p>
    <p>{{text}}</p>
    <div class="blog-post-footer small">
      <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>